/* VARIABLES */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

body {
  background-color: #000000;
  background: radial-gradient(#817b7b, #000000);
  color: #6d6863; }

/* SECCION 1: HOME */
.container {
  display: flex;
  flex-flow: column wrap; }
  .container .navbar-brand img {
    width: 30px;
    border-radius: 100%; }
  .container .grid-main {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    padding: 80px;
    height: 100vh;
    max-width: max-content;
    margin: auto; }
    @media screen and (max-width: 576px) {
      .container .grid-main {
        grid-template-columns: 300px;
        grid-template-rows: repeat(2, 300px);
        margin: 0; }
        .container .grid-main .item-main2 img {
          width: 200px; } }
  .container .item-main p {
    color: #000000; }
  .container .item-main2 {
    justify-self: center;
    align-self: center; }
    .container .item-main2 img {
      width: 250px; }
  .container .footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #6d6863;
    background-color: #000000; }
    .container .footer h6 {
      padding: 10px;
      color: #e4e8ee; }
    .container .footer ul {
      text-align: center;
      list-style-type: none; }
    .container .footer li {
      font-size: small;
      padding: 5px;
      margin: 0px 5px; }
    .container .footer img {
      width: 20px; }
  @media screen and (min-width: 576px) {
    .container .footer ul {
      display: inline-flex; } }

/* SECCION 2: PROYECTOS */
.flex-proyectos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .flex-proyectos .item-header img {
    width: 30px;
    border-radius: 100%; }
  .flex-proyectos .grid-articulo {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 300px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    padding: 0;
    margin: 50px 0px; }
    @media screen and (min-width: 576px) {
      .flex-proyectos .grid-articulo {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 300px); } }
    .flex-proyectos .grid-articulo .grid-items img {
      width: 200px;
      height: 200px; }
    .flex-proyectos .grid-articulo .grid-items li {
      color: #e4e8ee;
      list-style-type: none; }

.item-footer {
  text-align: center;
  padding: 10px;
  border-top: 2px solid #6d6863;
  background-color: #000000; }
  .item-footer h6 {
    padding: 10px;
    color: #e4e8ee; }
  .item-footer ul {
    text-align: center;
    list-style-type: none; }
  .item-footer li {
    font-size: small;
    padding: 5px;
    margin: 0px 5px; }
  .item-footer img {
    width: 20px; }

@media screen and (min-width: 576px) {
  .item-footer ul {
    display: inline-flex; } }

/* SECCION 3: CONTACTO */
.flex-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* .item-articulo-c {

   }*/ }
  .flex-contacto .navbar-brand img {
    width: 30px;
    border-radius: 100%; }
  .flex-contacto .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background: radial-gradient(#4e4848, #000000); }
  .flex-contacto .grid-articulo {
    margin: 20px;
    padding: 10px; }
  .flex-contacto .texto-form {
    color: #9e9b9b; }
    .flex-contacto .texto-form .whatsapp {
      width: 25px; }
    .flex-contacto .texto-form img {
      width: 30px;
      border-radius: 100%; }
    .flex-contacto .texto-form li {
      list-style-type: none; }
  .flex-contacto .form {
    text-align: center;
    max-width: 576px; }
    .flex-contacto .form .submit {
      color: white;
      margin: 20px;
      width: 150px;
      height: 30px;
      background-color: #317e60;
      transition-property: background-color;
      transition-duration: 0.5s; }
    .flex-contacto .form .submit:hover {
      background-color: #163b35; }
    .flex-contacto .form textarea {
      color: #6d6863;
      width: 75%;
      min-height: 140px;
      margin: 6px;
      padding: 5px;
      outline: none;
      background: none;
      border: none;
      border-bottom: 2px solid #317e60;
      resize: none;
      transition-property: background-color;
      transition-duration: 0.5s; }
    .flex-contacto .form textarea:hover {
      background-color: #163b35; }
    .flex-contacto .form input {
      color: #6d6863;
      width: 75%;
      margin: 6px;
      padding: 5px;
      outline: none;
      background: none;
      border: none;
      border-bottom: 2px solid #317e60;
      transition-property: background-color;
      transition-duration: 0.5s; }
    .flex-contacto .form input:hover {
      background-color: #163b35; }
  .flex-contacto .item-footer-c {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #6d6863;
    background-color: #000000; }
    .flex-contacto .item-footer-c h6 {
      padding: 10px;
      color: #e4e8ee; }
    .flex-contacto .item-footer-c ul {
      text-align: center;
      list-style-type: none; }
    .flex-contacto .item-footer-c li {
      font-size: small;
      padding: 5px;
      margin: 0px 5px; }
    .flex-contacto .item-footer-c img {
      width: 20px; }
  @media screen and (min-width: 576px) {
    .flex-contacto .grid-contacto {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      border: 2px solid #317e60;
      max-width: 768px;
      margin: 100px auto; }
    .flex-contacto .form textarea {
      width: 100%; }
    .flex-contacto .form input {
      width: 100%; }
    .flex-contacto .item-footer-c ul {
      display: inline-flex; } }
