/* VARIABLES */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

body {
  background-color: #000000;
  background: radial-gradient(#817b7b, #000000);
  color: #dacfbb; }

/* SECCION 1: HOME */
.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: max-content; }
  .container .navbar-brand img {
    width: 30px;
    border-radius: 100%; }
  .container .contenido-main {
    display: flex;
    margin: 50px; }
    .container .contenido-main p {
      padding: 20px;
      margin: auto; }
    .container .contenido-main img {
      align-self: center;
      width: 200px;
      height: 200px; }
  .container .footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #dacfbb;
    background-color: #000000; }
    .container .footer h6 {
      padding: 10px; }
    .container .footer ul {
      list-style-type: none; }

@media screen and (min-width: 200px) and (max-width: 768px) {
  .contenido-main {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0; }
    .contenido-main img {
      align-self: center; } }

@media screen and (min-width: 767px) and (max-width: 2560px) {
  .main {
    margin: 100px; } }

/* SECCION 2: PROYECTOS */
.flex-proyectos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .flex-proyectos .item-header img {
    width: 30px;
    border-radius: 100%; }
  .flex-proyectos .item-articulo {
    height: 600px; }
  .flex-proyectos .item-footer {
    border-top: 2px solid #dacfbb; }
