* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: url(/imagenes/business-g0ad624a5c_1920.jpg);
  background-size: cover; }

.container {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  background: #6d6464; }
  .container .col-footer {
    padding: 0; }
