* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: #626f72; }

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0;
  width: 100%; }
  .container .flex-items {
    color: #f10606; }

.main {
  padding: 80px; }
  .main .contenido-main {
    display: flex;
    justify-content: space-around; }
    .main .contenido-main .contenido-items {
      padding: 20px;
      margin: 10px; }
    .main .contenido-main img {
      align-self: center;
      width: 250px;
      height: 300px; }
