* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: #626f72; }

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  text-align: center; }
  .container .flex-items {
    align-items: center;
    color: #3ab48c; }
  .container .header .navbar-brand img {
    width: 30px;
    border-radius: 100%;
    background-color: #626f72; }
  .container .main {
    padding: 80px;
    flex-wrap: nowrap; }
    .container .main .contenido-items img {
      padding: 30px;
      width: 250px;
      height: 300px; }
  .container .footer {
    height: 200px;
    background: #284c5e; }
