.footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid $colortexto;
    background-color: $colorfondo;

    h6 {
        padding: 10px;
        color: $colortexto-2
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    li {
        font-size: small;
        padding: 5px;
        margin: 0px 5px;
    }

    img {
        width: 20px;
    }
}

@media screen and (min-width: 576px) {
    .footer {    
        ul {
            display: inline-flex;
        }
    }
}