/* variables */
$colormenu: #284c5e;
$colorcontenido: #626f72;


* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #626f72;
    padding: 0;
    margin: 0;
}


.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 576px) {
        margin: 0px 0px;
        width: 100%;
    }

    .header {
       height: 50px;
    }

    .main {
       
    }
    
    .footer {
        height: 150px;
    }

    .flex-items {
        border: 2px solid black;
        width: max;
    }
}

.contenido-items {

    img {
        width: 250px;
        height: 300px;
    }
}



