* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(109, 100, 100);

   .col-main {
       
   }
}