/* VARIABLES */
$colormenu: #0f7261;
$colortexto: #dacfbb;
$colorfondo: #000000;

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $colorfondo;
    background: radial-gradient(#817b7b, $colorfondo);
    color: $colortexto;
}

/* SECCION 1: HOME */

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: max-content;

    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }        
    }

    .contenido-main {
        display: flex;
        margin: 50px;


        p {
            padding: 20px;
            margin: auto;
        }

        img {
            align-self: center;
            width: 200px;
            height: 200px;
        }
    }

    .footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        h6 {
            padding: 10px;
        }

        ul {
            list-style-type: none;
        }
    }

}


@media screen and (min-width: 200px) and (max-width: 768px) {
    .contenido-main {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        padding: 0;

        img {
            align-self: center;            
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 2560px) {

    .main {
        margin: 100px ;
    }
}

/* SECCION 2: PROYECTOS */


.flex-proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .item-header {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

    .item-articulo {
        height: 600px;
    }

    .item-footer {
        border-top: 2px solid $colortexto;
    }
}