* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;

    .flex-items {
        border: 1px solid black;
    }
}