/* VARIABLES */
$colormenu: #0f7261;
$colortexto: #6d6863;
$colorfondo: #000000;
$colortexto-2: #e4e8ee;

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $colorfondo;
    background: radial-gradient(#817b7b, $colorfondo);
    color: $colortexto;
}


/* SECCION 1: HOME */

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: max-content;

    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }        
    }

    .contenido-main {
        display: flex;
        margin: 50px;


        p {
            padding: 20px;
            margin: auto;
            color: $colortexto-2;
        }

        img {
            align-self: center;
            width: 200px;
            height: 200px;
        }
    }

    .footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        .contenido-footer {
            

            img{
                width: 20px;
                border-radius: 100%;
            }

            li {
                font-size: small;
                padding: 5px;
                margin: 0px 5px;
            }
        }

        h6 {
            padding: 10px;
            color: #e4e8ee;
        }

        ul {
            list-style-type: none;
            text-align: center;
        }
    }

}

@media screen and (min-width: 576px) {
    .contenido-footer {
        ul {
            display: inline-flex;
        }
    }
}


@media screen and (min-width: 200px) and (max-width: 768px) {
    .contenido-main {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        padding: 0;

        img {
            align-self: center;            
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 2560px) {

    .main {
        margin: 100px ;
    }
}

/* SECCION 2: PROYECTOS */


.flex-proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .item-header {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

    .item-articulo {

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
            border: 1px solid black;
            margin: 40px;

            img {
                width: 400px;
            }
        }
       
    }

    .item-footer {
        background-color: $colorfondo;
        border-top: 2px solid $colortexto;
    }
}

/* SECCION 3: CONTACTO */

.flex-contacto {
    display: flex;
    flex-flow: column wrap;

    .item-header-c {

        img {
            width: 30px;
            border-radius: 100%;
        }
    }


    .item-footer-c {
        border-top: 2px solid $colortexto;
        text-align: center;
        padding: 10px;

        h6 {
            padding: 10px;
        }

        ul {
            list-style-type: none;
        }
    }
}