/* VARIABLES */
$colormenu: #0f7261;
$colortexto: #dacfbb;
$colorfondo: #000000;

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $colorfondo;
    background: radial-gradient(#817b7b, $colorfondo);
    color: $colortexto;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
    align-items: stretch;

    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }        
    }

    .flex-items {
        border: 1px solid black;
    }

    /*.main {
        
    
    }*/

    .contenido-main {
        display: flex;
        margin: 35px;
        border: 2px solid $colortexto;


        p {
            padding: 20px;
            margin: auto;
        }

        img {
            width: 200px;
            height: 200px;
        }
    }

    .footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        h6 {
            padding: 10px;
        }

        ul {
            list-style-type: none;
        }
    }

}


@media screen and (min-width: 200px) and (max-width: 768px) {
    .contenido-main {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        padding: 0;

        img {
            align-self: center;            
        }
    }
}
