/* VARIABLES */
$colormenu: #0f7261;
$colortexto: #6d6863;
$colorfondo: #000000;
$colortexto-2: #e4e8ee;
$piedepagina: footer;


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $colorfondo;
    background: radial-gradient(#817b7b, $colorfondo);
    color: $colortexto;
}


/* SECCION 1: HOME */

.container {   

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    max-width: max-content;
    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }        
    }

    .grid-main {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        align-content: center;
        padding: 80px;
        height: 100vh;
        max-width: max-content;
        margin: auto;

        @media screen and (max-width: 576px) {
            grid-template-columns: 300px;
            grid-template-rows: repeat(2, 300px);
            margin: 0;
            .item-main2 img {
                width: 200px;
            }
        }
    }

    .item-main {
        p {
            color: #000000;
        }
    }

    .item-main2 {
        justify-self: center;
        align-self: center;

        img {
            width: 250px;
        }
    }

    .footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        h6 {
            padding: 10px;
            color: $colortexto-2
        }

        ul {
            text-align: center;
            list-style-type: none;
        }

        li {
            font-size: small;
            padding: 5px;
            margin: 0px 5px;
        }

        img {
            width: 20px;
        }
    }

    @media screen and (min-width: 576px) {
        .footer {    
            ul {
                display: inline-flex;
            }
        }
}
}


/* SECCION 2: PROYECTOS */


.flex-proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .item-header {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

    .grid-articulo {

        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 300px); 
        justify-content: center;
        align-content: center; 
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        padding: 0;
        margin: 50px 0px;

        @media screen and (min-width: 576px) {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
        }

        .grid-items {
            img {
                width: 200px;
                height: 200px;
            }

            li {
                color: $colortexto-2;
                list-style-type: none;
            }
        }

        }
       
    }

    .item-footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        h6 {
            padding: 10px;
            color: $colortexto-2
        }

        ul {
            text-align: center;
            list-style-type: none;
        }

        li {
            font-size: small;
            padding: 5px;
            margin: 0px 5px;
        }

        img {
            width: 20px;
        }
    }

    @media screen and (min-width: 576px) {
        .item-footer {    
            ul {
                display: inline-flex;
            }
        }
}

/* SECCION 3: CONTACTO */

.flex-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

   /* .item-articulo-c {

   }*/

   .grid-contacto {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       justify-content: center;
       align-content: center;
       align-items: center;
       justify-items: center;
       background: radial-gradient(#4e4848, #000000);
   }

   .grid-articulo {
       margin: 20px;
       padding: 10px;
   }

    .texto-form {

        li {
            list-style-type: none;
        }
    }

    .form {
        text-align: center;
        max-width: 576px;

        textarea {
            width: 75%;
            margin: 6px;
            padding: 5px;
            outline: none;
        }

        input {
            width: 75%;
            margin: 6px;
            padding: 5px;
            outline: none;
        }
    }

    .item-footer-c {
        
            text-align: center;
            padding: 10px;
            border-top: 2px solid $colortexto;
            background-color: $colorfondo;
    
            h6 {
                padding: 10px;
                color: $colortexto-2
            }
    
            ul {
                text-align: center;
                list-style-type: none;
            }
    
            li {
                font-size: small;
                padding: 5px;
                margin: 0px 5px;
            }
    
            img {
                width: 20px;
            }
        }
    
        @media screen and (min-width: 576px) {

            .grid-contacto {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                border: 2px solid rgb(255, 255, 255);
                max-width: 768px;
                margin: auto;
            }

            .item-footer-c {    
                ul {
                    display: inline-flex;
                }
            }
    }
}

