/* VARIABLES */
$colormenu: #0f7261;
$colortexto: #6d6863;
$colorfondo: #000000;
$colortexto-2: #e4e8ee;
$piedepagina: footer;


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $colorfondo;
    background: radial-gradient(#817b7b, $colorfondo);
    color: $colortexto;
}


/* SECCION 1: HOME */

.flex-index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }
}

.grid-main {
    display: grid;
    justify-items: center;
}

.grid-item {

    margin: 20px;
    padding: 10px;

    p {
        color: #adafb4;
    }

    img {
        width: 200px;
        height: 200px;
    }
}

.footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid $colortexto;
    background-color: $colorfondo;

    h6 {
        padding: 10px;
        color: $colortexto-2
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    li {
        font-size: small;
        padding: 5px;
        margin: 0px 5px;
    }

    img {
        width: 20px;
    }
}

@media screen and (min-width: 768px) {

    .grid-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        margin: 50px 100px;
    }

    .footer {    
        ul {
            display: inline-flex;
        }
    }
}

/* SECCION 2: PROYECTOS */


.flex-proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .item-header {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

    .grid-articulo {

        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 300px); 
        justify-content: center;
        align-content: center; 
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        padding: 0;
        margin: 50px 0px;

        @media screen and (min-width: 576px) {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
        }

        .grid-items {
            img {
                width: 200px;
                height: 200px;
            }

            li {
                color: $colortexto-2;
                list-style-type: none;
            }
        }

        }
       
    }

    .item-footer {
        text-align: center;
        padding: 10px;
        border-top: 2px solid $colortexto;
        background-color: $colorfondo;

        h6 {
            padding: 10px;
            color: $colortexto-2
        }

        ul {
            text-align: center;
            list-style-type: none;
        }

        li {
            font-size: small;
            padding: 5px;
            margin: 0px 5px;
        }

        img {
            width: 20px;
        }
    }

    @media screen and (min-width: 576px) {
        .item-footer {    
            ul {
                display: inline-flex;
            }
        }
}

/* SECCION 3: CONTACTO */

.flex-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .navbar-brand {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }

   /* .item-articulo-c {

   }*/

   .grid-contacto {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       justify-content: center;
       align-content: center;
       align-items: center;
       justify-items: center;
       background: radial-gradient(#4e4848, #000000);
   }

   .grid-articulo {
       margin: 20px;
       padding: 10px;
   }

    .texto-form {

        color: rgb(158, 155, 155);

        .whatsapp {
            width: 25px;
        }

        ul {
            padding: 0;
        }

        img {
            width: 30px;
            border-radius: 100%;
        }

        li {
            list-style-type: none;
        }
    }

    .form {
        text-align: center;
        max-width: 576px;

        .submit {
            color: white;
            margin: 20px;
            width: 150px;
            height: 30px;
            background-color: #317e60;
            transition-property: background-color;
            transition-duration: 0.5s;
        }

        .submit:hover {
            background-color: #163b35;
        }

        textarea {
            color: $colortexto;
            width: 75%;
            min-height: 140px;
            margin: 6px;
            padding: 5px;
            outline: none;
            background: none;
            border: none;
            border-bottom: 2px solid #317e60;
            resize: none;
            transition-property: background-color;
            transition-duration: 0.5s;
        }

        textarea:hover {
            background-color: #163b35;
        }

        input {
            color: $colortexto;
            width: 75%;
            margin: 6px;
            padding: 5px;
            outline: none;
            background: none;
            border: none;
            border-bottom: 2px solid #317e60;
            transition-property: background-color;
            transition-duration: 0.5s;
        }

        input:hover {
            background-color: #163b35;
        }
    }

    .item-footer-c {
        
            text-align: center;
            padding: 10px;
            border-top: 2px solid $colortexto;
            background-color: $colorfondo;
    
            h6 {
                padding: 10px;
                color: $colortexto-2;
            }
    
            ul {
                text-align: center;
                list-style-type: none;
            }
    
            li {
                font-size: small;
                padding: 5px;
                margin: 0px 5px;
            }
    
            img {
                width: 20px;
            }
        }
    
        @media screen and (min-width: 576px) {

            .grid-contacto {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                border: 2px solid #317e60;
                max-width: 768px;
                margin: 100px auto;
            }

            .form {
                textarea {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }

            .item-footer-c {    
                ul {
                    display: inline-flex;
                }
            }
    }
}

